*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.feature-section{
    display: flex;
    justify-content: center;
    gap: 25px;
    text-align: center;
    margin-top: 60px; ;
}

.feature-content-1{
    width: 400px;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-top: 72px;
}
.feature-content-2{
    width: 400px;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);  
    padding-top: 72px;
}
.feature-content-3{
    width: 400px;
    height: 500px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding-top: 30px;
}

.content-title{
    text-decoration: underline;
}

.feature-head{
    text-align:center ;
    margin-top: 60px; 

}


